/*****************************************************************************
                        Background Text - Settings
******************************************************************************/

// colors
$background-text-warn-color-1: $warn;
$background-text-warn-color-2: $night;
$background-text-warn-color-3: $light;

$background-text-success-color-1: $success;
$background-text-success-color-2: $night;
$background-text-success-color-3: $light;

$background-text-info-color-1: $info;
$background-text-info-color-2: $night;
$background-text-info-color-3: $light;

$background-text-primary-color-1: $primary;
$background-text-primary-color-2: $night;
$background-text-primary-color-3: $light;

$background-text-secondary-color-1: $secondary;
$background-text-secondary-color-2: $night;
$background-text-secondary-color-3: $light;
