$spacing-s: 0.5rem;
$spacing-d: 0.75rem;
$spacing-m: 1rem;
$spacing-l: 1.25rem;

/***********
  Border
************/

// border widths
$border-width-s: 1px;
$border-width-d: 2px;
$border-width-m: 3px;

// border radii
$border-radius-s: $spacing-s;
$border-radius-d: $spacing-d;
$border-radius-m: $spacing-m;
$border-radius-l: $spacing-l;

$border-width-l: 4px;
