// consistant theme colors
$success: #28df99;
$warn: #FF2453;

$primary: #93deff;
$secondary: #84F9BD;

// dark theme color definitions

$background-1: #22272C;
$background-2: #FFFFFF;

$persistent-colors: (
  'warn': $warn,
  'success': $success,
  'primary': $primary,
  'secondary': $secondary
);

$themes: (
  "dark": (
    "dark": $background-1,
    "bright": $background-2
  ),
  "bright": (
    "dark": $background-2,
    "bright": $background-1
  )
);

$theme-names: map-keys($themes);
$theme-color-names: (
  "dark",
  "bright"
);

$persistent-color-names: map-keys($persistent-colors);
