@mixin border-radius($border-radius) {
  border-radius: getBorderRadius($border-radius);
}

@mixin border-color($border-color) {
  border-radius: getBorderColor($border-color);
}

@mixin border-width($border-width) {
  border-radius: getBorderWidth($border-width);
}
