/*****************************************************************************
                              Form Group Options - Classes
******************************************************************************/

$sb-el-form-group-options-root: 'sb-el-form-group-options';
.#{$sb-el-form-group-options-root} {
  display: grid;
  grid-gap: calc(#{$spacing-s} / 2);
}
