/*****************************************************************************
                            Form - Settings
******************************************************************************/

/*
  All form classes should have the same height properties. Benefits consistency.
*/
// heigts
$form-height-s: $spacing-s * 2;
$form-height-d: $spacing-d * 2;
$form-height-m: $spacing-m * 2;
$form-height-l: $spacing-l * 2;

$form-font-size-s: $font-size-s;
$form-font-size-d: $font-size-d;
$form-font-size-m: $font-size-m;
$form-font-size-l: $font-size-l;
