/*****************************************************************************
                            Form - Classes
******************************************************************************/

/*
  Defines the root button class with all its sizes and colors.

  ROOT .sb-el-form
*/
$sb-el-button-root: 'sb-el-form';
.#{$sb-el-button-root} {
  width: 200px;
  padding: $spacing-s;

  .#{$sb-el-button-root}__header {

  }

  .#{$sb-el-button-root}__content {
    display: grid;
    grid-gap: 2*$spacing-s;

    .sb-el-form-group-separator {
      margin: 0;
    }

    .sb-el-form-group {
      padding: 0;
    }
  }

  .#{$sb-el-button-root}__footer {
    border-top: 1px solid getThemeTextColor('night');
    padding-top: $spacing-s;
    margin-top: $spacing-s;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    &.is-center {
      justify-content: center;
    }

    .#{$sb-el-button-root}__footer-element {

    }
  }
}
