/*****************************************************************************
                            Table - Classes
******************************************************************************/

@mixin table-row-class {
  .#{$sb-el-table-root}__data {
    @include padding(0);
    .#{$sb-el-table-root}__data--content {
      display: flex;
      @include padding('s');
    }

    &.is-left {
      .#{$sb-el-table-root}__data--content {
        justify-content: flex-start;
      }
    }
    &.is-center {
      .#{$sb-el-table-root}__data--content {
        justify-content: center;
      }
    }
    &.is-right {
      .#{$sb-el-table-root}__data--content {
        justify-content: flex-end;
      }
    }
  }
}


/*
  Defines the root table class with all its sizes and colors.

  ROOT .sb-el-table
*/
$sb-el-table-root: 'sb-el-table';
.#{$sb-el-table-root} {
  border-collapse: collapse;
  .#{$sb-el-table-root}__body {
    .#{$sb-el-table-root}__header {
      @include borderBottom('light');
      @include table-row-class;
    }

    .#{$sb-el-table-root}__row {
      @include table-row-class;
      .#{$sb-el-table-root}__data {

      }
    }
  }

  &.is-border-separation {
    .#{$sb-el-table-root}__body {
      .#{$sb-el-table-root}__row {
        &:not(:last-child) {
          @include borderBottom('light');
        }
      }
    }
  }

  &.is-color-separation {
    .#{$sb-el-table-root}__body {
      .#{$sb-el-table-root}__row {
        &:nth-child(even) {
          background: $table-row-background-night-primary;
        }
        &:nth-child(odd) {
          background: $table-row-background-night-secondary;
        }
      }
    }
  }
}
