/*****************************************************************************
                              Icon-Button - Settings
******************************************************************************/

// colors
$icon-button-warn-text: $dark;
$icon-button-warn-hover-text: $warn;

$icon-button-success-text: $dark;
$icon-button-success-hover-text: $success;

$icon-button-info-text: $dark;
$icon-button-info-hover-text: $info;

$icon-button-primary-text: $dark;
$icon-button-primary-hover-text: $primary;

$icon-button-secondary-text: $dark;
$icon-button-secondary-hover-text: $secondary;
