/*****************************************************************************
                              Icon-Button - Classes
******************************************************************************/

/*
  Adds color and hover to an icon-button. Also creates the inverse of the colors.

  Attributes:
  - theme: 'light', 'night'
  - color: 'warn', 'success', 'info', 'primary', 'secondary'

  OPTION '.btn--[theme]-[color]' for ROOT '.sb-icon-btn'
*/
@mixin icon-button-color-class ($icon-button-theme, $icon-button-color) {
  &.btn--#{$icon-button-theme}-#{$icon-button-color} {
    .sb-icon {
      @include ease(300ms);
      color: getTextColor($icon-button-theme, $icon-button-color);
    }

    &:hover .sb-icon {
      color: getTextColorInverse($icon-button-theme, $icon-button-color);
    }

    &:disabled:hover .sb-icon {
      color: getTextColor($icon-button-theme, $icon-button-color);
    }
    @include icon-button-plain-color-class($icon-button-theme, $icon-button-color);
  }
}

/*
  Adds color and hover to an icon-button. Also creates the inverse of the colors.

  Attributes:
  - NONE

  OPTION '.is-plain' for OPTION '.btn--[color]' -> ROOT '.sb-btn'
*/
@mixin icon-button-plain-color-class ($icon-button-theme, $icon-button-color) {
  &.is-plain {
    .sb-icon {
      @include ease(300ms);
      color: getTextColorInverse($icon-button-theme, $icon-button-color);
    }

    &:hover.sb-icon {
        color: getTextColor($icon-button-theme, $icon-button-color);
    }

    &:disabled:hover .sb-icon {
      color: getTextColorInverse($icon-button-theme, $icon-button-color);
    }
  }
}

/*
  Extends the root button class to also support icon colors when hovering.
  For complete ROOT see button-classes.


  ROOT .sb-btn
*/
.sb-btn {
  @extend .sb-btn;

  @each $icon-button-color in map-keys($background-text-colors) {
    @each $icon-button-theme in map-keys(map-get($background-text-colors, $icon-button-color)) {
       @include icon-button-color-class($icon-button-theme, $icon-button-color);
    }
  }
}
