/*****************************************************************************
                              Typography - Classes
******************************************************************************/

/*
  Defines the root font-weight class with all its weights.

  Attributes:
  - weight: 'regular', 'bold'

  ROOT: .sb-font-weight-[weight]
*/
@debug "Create font-weight-classes";
@each $font-weight in map-keys($font-weights) {
  .sb-font-weight-#{$font-weight} {
    font-weight: getFontWeight($font-weight);
  }
}

/*
  Defines the root fontface class with all its fontfaces.

  Attributes:
  - fontface: 'default', 'display'

  ROOT: .sb-fontface-[fontface]
*/
@debug "Create fontface-classes";
@each $fontface in map-keys($fontfaces) {
  .sb-fontface-#{$fontface} {
    font-weight: getFontface($fontface);
  }
}

/*
  Defines the root font-size class with all its sizes.

  Attributes:
  - size: 's', 'm', 'l', 'd'

  ROOT: .sb-font-size-[size]
*/
@debug "Create font-size-classes";
@each $font-size in map-keys($font-sizes) {
  .sb-font-size-#{$font-size} {
    @include font-size($font-size);
  }
}
