/*****************************************************************************
                              Checkbox-Group - Classes
******************************************************************************/

@mixin form-group-color-class($theme, $color) {
  &.#{$sb-el-form-group-root}--#{$theme}-#{$color} {
    color: getThemeTextColor($theme);
  }
}

.sb-el-form-group-separator {
  border: 1px solid $light;
}

$sb-el-form-group-root: 'sb-el-form-group';
.#{$sb-el-form-group-root} {
  padding: $spacing-s;
  &.is-options {
    display: grid;
    grid-gap: $spacing-s;

    .#{$sb-el-form-group-root}__option {
      display: flex;
    }
  }

  .#{$sb-el-form-group-root}__title {
    font-size: getFontSize('m');
  }

  @each $theme in $theme-names {
    @each $color in $color-names {
      @include form-group-color-class($theme, $color);
    }
  }
}
