/*****************************************************************************
                              Checkbox-Group - Classes
******************************************************************************/

@mixin form-group-color-class($theme, $color) {
  &.form-group--#{$theme}-#{$color} {
    color: getThemeTextColor($theme);
  }
}

.sb-form-group-separator {
  border: 1px solid $light;
}

.sb-form-group {
  padding: $spacing-s;
  &.is-options {
    display: grid;
    grid-gap: $spacing-s;

    .sb-form-group-options__option {
      display: flex;
    }
  }

  .sb-form-group__title {
    font-size: getFontSize('m');
  }

  @each $theme in $theme-names {
    @each $color in $color-names {
      @include form-group-color-class($theme, $color);
    }
  }
}
