@function getBackgroundColor($theme-name) {
  $theme-exists: themeExists($theme-name);
  @return map-get($theme-background, $theme-name);
}

@function getTextColor($theme-name) {
  $theme-exists: themeExists($theme-name);
  @return map-get($theme-text-color, $theme-name);
}

@function getColor($color-name) {
  $exists: colorExists($color-name);
  @return map-get($persistent-colors, $color-name);
}




@function themeExists($theme-name) {
  $theme-exists: false;
  @each $theme-name-test in $theme-names {
    @if $theme-name-test == $theme-name {
      $theme-exists: true;
    }
  }
  @if not $theme-exists {
    @error "Theme with name '#{$theme-name}' does not exist!";
  }
  @return $theme-exists;
}


@function colorExists($color-name) {
  $exists: false;
  @each $color-name-test in $persistent-color-names {
    @if $color-name-test == $color-name {
      $exists: true;
    }
  }
  @if not $exists {
    @error "Color with name '#{$color-name}' does not exist!";
  }
  @return $exists;
}
