@function getThemeColor($theme-name, $color-name) {
  $color-exists: themeColorExists($theme-name, $color-name);

  $theme: map-get($themes, $theme-name);
  @return map-get($theme, $color-name);
}

@function dark($theme-name) {
  @return get-theme($theme-name, 'dark');
}

@function bright($theme-name) {
  @return get-theme($theme-name, 'bright');
}

@function getColor($color-name) {
  $exists: colorExists($color-name);
  @return map-get($persistent-colors, $color-name);
}




@function themeExists($theme-name) {
  $theme-exists: false;
  @each $theme-name-test in $theme-names {
    @if $theme-name-test == $theme-name {
      $theme-exists: true;
    }
  }
  @if not $theme-exists {
    @error "Theme with name '#{$theme-name}' does not exist!";
  }
  @return $theme-exists;
}

@function themeColorExists($theme-name, $color-name) {
  $theme-exists: themeExists($theme-name);
  $color-exists: false;
  @each $color-name-test in $theme-color-names {
    @if $color-name-test == $color-name {
      $color-exists: true;
    }
  }
  @if not $color-exists {
    @error "Color with name '#{$color-name}' does not exist on theme '#{$theme-name}'!";
  }
  @return $color-exists;
}


@function colorExists($color-name) {
  $exists: false;
  @each $color-name-test in $persistent-color-names {
    @if $color-name-test == $color-name {
      $exists: true;
    }
  }
  @if not $exists {
    @error "Color with name '#{$color-name}' does not exist!";
  }
  @return $exists;
}
