/*****************************************************************************
                            Border - Naming
******************************************************************************/

// colors
$border-colors: (
  'warn': $border-color-warn,
  'success': $border-color-success,
  'info': $border-color-info,
  'primary': $border-color-primary,
  'secondary': $border-color-secondary,
  'night': $border-color-night,
  'light': $border-color-light,
);

// widths
$border-widths: (
  's': $border-width-s,
  'd': $border-width-d,
  'm': $border-width-m,
  'l': $border-width-l
);

// radii
$border-radii: (
  's': $border-radius-s,
  'd': $border-radius-d,
  'm': $border-radius-m,
  'l': $border-radius-l
);
