/*****************************************************************************
                              Typography - Naming
******************************************************************************/

// weights
$font-weights: (
  'regular': $font-weight-regular,
  'bold': $font-weight-bold
);

// families
$font-families: (
  'default': $font-family-default,
  'display': $font-family-display
);

// sizes
$font-sizes: (
  "s": $font-size-s,
  "d": $font-size-d,
  "m": $font-size-m,
  "l": $font-size-l,
  "xl": $font-size-xl,
);
