/*****************************************************************************
                            Button - Functions
******************************************************************************/

/*
  Returns a map with background-color and text-color of a button color:
  (
    'night': (
      'background': {color},
      'text': {color}
    ),
    'light': (
      'background': {color},
      'text': {color}
    ),
  )
*/
@function getButtonColors($button-color) {
  @if not exists(map-keys($button-colors), $button-color) {
    @error "Button color with name '#{$button-color}' does not exist!";
  }
  @return map-get($button-colors, $button-color);
}

/*
  Returns the background-color of the button-colors.
*/
@function getButtonBackgroundColor($button-theme, $button-color) {
  $theme-colors: map-get(getButtonColors($button-color), $button-theme);
  @return map-get($theme-colors, 'background');
}

/*
  Returns the text-color of the button-colors.
*/
@function getButtonTextColor($button-theme, $button-color) {
  $theme-colors: map-get(getButtonColors($button-color), $button-theme);
  @return map-get($theme-colors, 'text');
}

/*
  Returns the inverse background-color of the button-colors.
*/
@function getButtonBackgroundColorInverse($button-theme, $button-color) {
  $theme-colors: map-get(getButtonColors($button-color), $button-theme);
  @return map-get($theme-colors, 'hover-background');
}

/*
  Returns the inverse text-color of the button-colors.
*/
@function getButtonTextColorInverse($button-theme, $button-color) {
  $theme-colors: map-get(getButtonColors($button-color), $button-theme);
  @return map-get($theme-colors, 'hover-text');
}
