/*****************************************************************************
                            Button - Settings
******************************************************************************/

// colors
$button-warn-color-1: $warn;
$button-warn-color-2: $night;
$button-warn-color-3: $light;

$button-success-color-1: $success;
$button-success-color-2: $night;
$button-success-color-3: $light;

$button-info-color-1: $info;
$button-info-color-2: $night;
$button-info-color-3: $light;

$button-primary-color-1: $primary;
$button-primary-color-2: $night;
$button-primary-color-3: $light;

$button-secondary-color-1: $secondary;
$button-secondary-color-2: $night;
$button-secondary-color-3: $light;


// heights
$button-size-factor: 2.5;
$button-size-s: $spacing-s * $button-size-factor;
$button-size-d: $spacing-d * $button-size-factor;
$button-size-m: $spacing-m * $button-size-factor;
$button-size-l: $spacing-l * $button-size-factor;

// border-radius
$button-border-radius: $border-radius-s;

// min width
$button-min-width: 60px;
