/*****************************************************************************
                            Button - Settings
******************************************************************************/

// colors
$btn-warn-background: $warn;
$btn-warn-text: $dark;
$btn-warn-hover-background: lighten($dark, 3%);
$btn-warn-hover-text: $warn;

$btn-success-background: $success;
$btn-success-text: $dark;
$btn-success-hover-background: lighten($dark, 3%);
$btn-success-hover-text: $success;

$btn-info-background: $info;
$btn-info-text: $dark;
$btn-info-hover-background: lighten($dark, 3%);
$btn-info-hover-text: $info;

$btn-primary-background: $primary;
$btn-primary-text: $dark;
$btn-primary-hover-background: lighten($dark, 3%);
$btn-primary-hover-text: $primary;

$btn-secondary-background: $secondary;
$btn-secondary-text: $dark;
$btn-secondary-hover-background: lighten($dark, 3%);
$btn-secondary-hover-text: $secondary;

// paddings
$button-padding-s: $spacing-s;
$button-padding-d: $spacing-d;
$button-padding-m: $spacing-m;
$button-padding-l: $spacing-l;

// font-sizes
$button-font-size-delta: 0.2rem;
$button-font-size-s: $spacing-s + $button-font-size-delta;
$button-font-size-d: $spacing-d + $button-font-size-delta;
$button-font-size-m: $spacing-m + $button-font-size-delta;
$button-font-size-l: $spacing-l + $button-font-size-delta;

// border-radius
$button-border-radius: $border-radius-s;
