/*****************************************************************************
                            Button - Classes
******************************************************************************/

/*
  Adds color and hover to a button. Also creates the inverse of the colors.

  Attributes:
  - theme: 'light', 'night'
  - color: 'warn', 'success', 'info', 'primary', 'secondary'

  OPTION '.btn--[theme]-[color]' for ROOT '.sb-btn'
*/
@mixin button-color-class($button-theme, $button-color) {
  &.btn--#{$button-theme}-#{$button-color} {
    background: getBackgroundColor($button-theme, $button-color);
    color: getTextColor($button-theme, $button-color);
    @include ease(300ms);
    &:hover {
      background: getBackgroundColorInverse($button-theme, $button-color);
      color: getTextColorInverse($button-theme, $button-color);
    }
    @include button-plain-color-class($button-theme, $button-color);
  }
}

/*
  Adds inverse colors as in the normal class.

  Attributes:
  - NONE

  OPTION '.is-plain' for OPTION '.btn--[color]' -> ROOT '.sb-btn'
*/
@mixin button-plain-color-class($button-theme, $button-color) {
  &.is-plain {
    background: getBackgroundColorInverse($button-theme, $button-color);
    color: getTextColorInverse($button-theme, $button-color);
    &:hover {
      background: getBackgroundColor($button-theme, $button-color);
      color: getTextColor($button-theme, $button-color);
    }
  }
}

/*
  Adds different sizes to the button.

  Attributes:
  - size: 's', 'm', 'l'[, 'd']

  OPTION '.btn--[size]' for ROOT '.sb-btn'
*/
@mixin button-size-class($button-size) {
  &.btn--#{$button-size} {
    @include paddingY(map-get($button-sizes, $button-size)/5);
    @include paddingX(map-get($button-sizes, $button-size)/3);

    @include button-pill-class($button-size);
    @include button-round-class($button-size);
  }
}

/*
  Adds option if button is pill or normal.

  Attributes:
  - NONE

  OPTION '.is-pill' for OPTION '.btn--[size]' -> ROOT '.sb-btn'
*/
@mixin button-pill-class($button-size) {
  &.is-pill {
    border-radius: map-get($button-sizes, $button-size);
  }
}

/*
  Adds option if button is round or normal.

  Attributes:
  - NONE

  OPTION '.is-round' for OPTION '.btn--[size]' -> ROOT '.sb-btn'
*/
@mixin button-round-class($button-size) {
  &.is-round {
    $size-factor: 1.2;
    $size: map-get($button-sizes, $button-size);
    height: $size * $size-factor;
    width: $size * $size-factor;
    border-radius: $size / 2 * $size-factor;
    min-width: 0;
    padding: 0;
  }
}

/*
  Defines the root button class with all its sizes and colors.

  ROOT .sb-btn
*/
@debug "Create button-classes";
.sb-btn {
  border: 0;
  outline: 0;
  cursor: pointer;
  display: block;

  border-radius: $button-border-radius;
  min-width: $button-min-width;

  font-size: $font-size-d;
  font-weight: getFontWeight('regular');
  font-family: getFontface('default');

  @each $button-size in map-keys($button-sizes) {
    @include button-size-class($button-size);
  }

  @each $button-color in map-keys($background-text-colors) {
    @each $button-theme in map-keys(map-get($background-text-colors, $button-color)) {
      @include button-color-class($button-theme, $button-color);
    }
  }

}
