/*****************************************************************************
                            Button - Settings
******************************************************************************/

// colors
$btn-warn-background: $warn;
$btn-warn-text: $dark;
$btn-warn-hover-background: lighten($dark, 3%);
$btn-warn-hover-text: $warn;

$btn-success-background: $success;
$btn-success-text: $dark;
$btn-success-hover-background: lighten($dark, 3%);
$btn-success-hover-text: $success;

$btn-info-background: $info;
$btn-info-text: $dark;
$btn-info-hover-background: lighten($dark, 3%);
$btn-info-hover-text: $info;

$btn-primary-background: $primary;
$btn-primary-text: $dark;
$btn-primary-hover-background: lighten($dark, 3%);
$btn-primary-hover-text: $primary;

$btn-secondary-background: $secondary;
$btn-secondary-text: $dark;
$btn-secondary-hover-background: lighten($dark, 3%);
$btn-secondary-hover-text: $secondary;

// heights
$button-size-factor: 2.5;
$button-size-s: $spacing-s * $button-size-factor;
$button-size-d: $spacing-d * $button-size-factor;
$button-size-m: $spacing-m * $button-size-factor;
$button-size-l: $spacing-l * $button-size-factor;

// border-radius
$button-border-radius: $border-radius-s;

// min width
$button-min-width: 60px;
