/*****************************************************************************
                            Background - Settings
******************************************************************************/

// colors
$bg-warn: $warn;
$bg-success: $success;
$bg-info: $info;
$bg-primary: $primary;
$bg-secondary: $secondary;
$bg-dark: $dark;
$bg-bright: $bright;
