/*****************************************************************************
                              Checkbox-Group - Classes
******************************************************************************/

/*
  Adds color to a form group.

  Attributes:
  - theme: 'light', 'night'
  - color: 'warn', 'success', 'info', 'primary', 'secondary'

  OPTION '.sb-el-form-group--[theme]-[color]' for ROOT '.sb-el-form-group'
*/
@mixin select-button-color-class($theme, $color) {
  &.#{$sb-el-select-button-root}--#{$theme}-#{$color} {
    color: getThemeTextColorForBackground($theme, $color);


    .#{$sb-el-select-button-root}__button {
      .sb-el-icon {
        color: getThemeTextColorForBackground($theme, $color);
      }
      &:hover {
        .sb-el-icon {
          color: getThemeTextHoverColorForBackground($theme, $color);
        }
      }
      &:disabled:hover {
        .sb-el-icon {
          color: getThemeTextColorForBackground($theme, $color);
        }
      }
    }


    .#{$sb-el-select-button-root}__options-wrapper {
      .#{$sb-el-select-button-root}__options {
        background: getThemeChildBackgroundColor($theme);
        .#{$sb-el-select-button-root}__option {
          background: getBackgroundColor($color);
          color: getThemeTextColorForBackground($theme, $color);
          &:hover {
            background: getThemeBackgroundHoverColorForBackground($theme, $color);
            color: getThemeTextHoverColorForBackground($theme, $color);
          }
          &:disabled:hover {
            background: getBackgroundColor($color);
            color: getThemeTextColorForBackground($theme, $color);
          }
        }
      }
    }
  }
}

/*
  Adds different sizes to the button.

  Attributes:
  - size: 's', 'm', 'l'[, 'd']

  OPTION '.sb-el-btn--[size]' for ROOT '.sb-el-btn'
*/
@mixin select-button-size-class($form-height) {
  $height: map-get($form-heights, $form-height);
  &.#{$sb-el-select-button-root}--#{$form-height} {
    .#{$sb-el-select-button-root}__button {
      width: 4 * $height;
    }

    .#{$sb-el-select-button-root}__options-wrapper {
      .#{$sb-el-select-button-root}__options {
        .#{$sb-el-select-button-root}__option {
          width: 4 * $height - 2 * $spacing-s;
          @include paddingX($spacing-s);
          @include paddingY($spacing-s / 2);
        }
      }
    }
    @include select-button-pill-class($form-height);
  }
}

/*
  Adds option if button is pill or normal.

  Attributes:
  - NONE

  OPTION '.is-pill' for OPTION '.sb-el-btn--[size]' -> ROOT '.sb-el-btn'
*/
@mixin select-button-pill-class($form-height) {
  &.is-pill {
    .#{$sb-el-select-button-root}__options-wrapper {
      .#{$sb-el-select-button-root}__options {
        border-bottom-left-radius: map-get($form-heights, $form-height) / 2;
        border-bottom-right-radius: map-get($form-heights, $form-height) / 2;
      }
    }
  }
}

/*
  Defines the root form group class with all its sizes and colors.

  ROOT .sb-el-form-group
*/
$sb-el-select-button-root: 'sb-el-select-button';
.#{$sb-el-select-button-root} {
  position: relative;

  $button-animation-duration: 300ms;
  $options-animation-duration: 100ms;

  .#{$sb-el-select-button-root}__button {
    @include ease($button-animation-duration);
    transition-delay: $options-animation-duration;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .sb-el-icon {
      @include ease(300ms);
    }
  }

  .#{$sb-el-select-button-root}__options-wrapper {
    .#{$sb-el-select-button-root}__options {
      overflow: hidden;
      height: auto;
      transform-origin:top;
      position: absolute;
      transform: scaleY(0);
      border-bottom-left-radius: $button-border-radius;
      border-bottom-right-radius: $button-border-radius;
      @include ease($options-animation-duration);

      .#{$sb-el-select-button-root}__option {
        display: flex;
        justify-content: center;
        @include ease(300ms);
        &:hover {
          background: black
        }
      }
    }
  }

  &.is-open {
    .#{$sb-el-select-button-root}__button {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      @include ease($button-animation-duration);
      transition-delay: 0;

      .sb-el-icon {
        transform: rotate(180deg);
      }
    }
    .#{$sb-el-select-button-root}__options-wrapper {
      .#{$sb-el-select-button-root}__options {
        transition-delay: $button-animation-duration;
        transform: scaleY(1);
      }
    }
  }

  @each $form-height in map-keys($form-heights) {
    @include select-button-size-class($form-height);
  }

  @each $theme in $theme-names {
    @each $color in $color-names {
      @include select-button-color-class($theme, $color);
    }
  }
}
