/*****************************************************************************
                            Alert Box - Classes
******************************************************************************/

@mixin alert-box-color-class($theme, $color) {
  &.#{$sb-el-alert-box-root}--#{$theme}-#{$color} {
    background: getBackgroundColor($color);
    color: getThemeTextColorForBackground($theme, $color);
  }
}

@mixin alert-box-size-class($size) {
  &.#{$sb-el-alert-box-root}--#{$size} {
    height: getSize($size);
    @include radius($size);
    @include paddingX($size);
  }
}

$sb-el-alert-box-root: 'sb-el-alert-box';
.#{$sb-el-alert-box-root} {
  display: flex;
  align-items: center;

  @each $size in $size-names {
    @include alert-box-size-class($size);
  }

  @each $theme in $theme-names {
    @each $color in $color-names {
      @include alert-box-color-class($theme, $color);
    }
  }
}
