/*****************************************************************************
                            Alert Box - Classes
******************************************************************************/

@mixin alert-box-color-class($theme, $color) {
  &.#{$sb-el-alert-box-root}--#{$theme}-#{$color} {
    background: getBackgroundColor($color);
    color: getThemeTextColorForBackground($theme, $color);

    .#{$sb-el-alert-box-root}__alert {
      .#{$sb-el-alert-box-root}__arrow {
        .sb-el-icon {
          color: getThemeTextColorForBackground($theme, $color);
        }
      }
    }

    .#{$sb-el-alert-box-root}__icon {
      .sb-el-icon {
        color: getThemeTextColorForBackground($theme, $color);
      }
    }
  }
}

@mixin alert-box-size-class($size) {
  &.#{$sb-el-alert-box-root}--#{$size} {
    height: getSize($size);
    @include radius($size);
    @include paddingX($size);

    &.is-pill {
      @include radius(getSize($size));
    }
  }
}

$sb-el-alert-box-root: 'sb-el-alert-box';
.#{$sb-el-alert-box-root} {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .#{$sb-el-alert-box-root}__alert {
    display: grid;
    grid-gap: getSpacing('s');
    grid-auto-flow: column;
    align-items: center;
  }

  &.is-flipped {
    flex-direction: row-reverse;
  }

  @each $size in $size-names {
    @include alert-box-size-class($size);
  }

  @each $theme in $theme-names {
    @each $color in $color-names {
      @include alert-box-color-class($theme, $color);
    }
  }
}
