/*****************************************************************************
                            Border - Classes
******************************************************************************/

/*
  Creates a border class for each border color, width and radius.


  Attributes:
  - color: 'dark', 'bright'
  - width: 's', 'd', 'm', 'l'
  - radius: 's', 'd', 'm', 'l'

  ROOT '.sb-border-[color]-[width]-[radius]'
*/
@each $border-color in map-keys($border-colors) {
  @each $border-width in map-keys($border-widths) {
    @each $border-radius in map-keys($border-radii) {
      .sb-border-#{$border-color}-#{$border-width}-#{$border-radius} {
        border-color: getBorderColor($border-color);
        border-width: getBorderWidth($border-width);
        border-radius: getBorderRadius($border-radius);
        border-style: solid;
      }
    }
  }
}

/*
  Creates a border radius class for each border radius.


  Attributes:
  - radius: 's', 'd', 'm', 'l'

  ROOT '.sb-border-radius-[radius]'
*/
@each $border-radius in map-keys($border-radii) {
  .sb-border-radius-#{$border-radius} {
    border-radius: getBorderRadius($border-radius);
  }
}
