$border-widths: (
  's': $border-width-s,
  'd': $border-width-d,
  'm': $border-width-m,
  'l': $border-width-l
);
$border-width-names: map-keys($border-widths);

$border-radii: (
  's': $border-radius-s,
  'd': $border-radius-d,
  'm': $border-radius-m,
  'l': $border-radius-l
);
$border-radius-names: map-keys($border-radii);

$border-colors: (
  'dark': $border-color-dark,
  'bright': $border-color-bright
);
$border-color-names: map-keys($border-colors);
