/*****************************************************************************
                            Border - Settings
******************************************************************************/

// colors
$border-color-dark: $dark;
$border-color-bright: $bright;

// widths
$border-width-s: 1px;
$border-width-d: 2px;
$border-width-m: 3px;
$border-width-l: 4px;

// radii
$border-radius-s: $spacing-s;
$border-radius-d: $spacing-d;
$border-radius-m: $spacing-m;
$border-radius-l: $spacing-l;
