/*****************************************************************************
                            Border - Mixins
******************************************************************************/

@mixin border($color, $size: 's', $radius: 's', $style: solid) {
  @if ($color != none) {
    border-color: getBorderColor($color);
  } @else {
    border-color: transparent;
  }
  border-width: getBorderWidth($size);
  border-style: $style;
  box-sizing: border-box;
  @include radius($radius);
}

@mixin radiusTopLeft($radius) {
  border-top-left-radius: getBorderRadius($radius);
}

@mixin radiusTopRight($radius) {
  border-top-right-radius: getBorderRadius($radius);
}

@mixin radiusBottomRight($radius) {
  border-bottom-left-radius: getBorderRadius($radius);
}

@mixin radiusBottomLeft($radius) {
  border-bottom-right-radius: getBorderRadius($radius);
}

@mixin radius($radius) {
  border-radius: getBorderRadius($radius);
}
