/*****************************************************************************
                            Border - Naming
******************************************************************************/

// border-colors
$border-colors: (
  'dark': $border-color-dark,
  'bright': $border-color-bright
);

// border-widths
$border-widths: (
  's': $border-width-s,
  'd': $border-width-d,
  'm': $border-width-m,
  'l': $border-width-l
);

// border-radii
$border-radii: (
  's': $border-radius-s,
  'd': $border-radius-d,
  'm': $border-radius-m,
  'l': $border-radius-l
);
