/*****************************************************************************
                            Border - Mixins
******************************************************************************/

@mixin border($color, $size: 's', $radius: 's', $style: solid) {
  @if ($color != none) {
    border-color: getBorderColor($color);
  } @else {
    border-color: transparent;
  }
  border-width: getBorderWidth($size);
  border-style: $style;
  box-sizing: border-box;
  @include border-radius($radius);
}

@mixin border-radius($radius) {
  border-radius: getBorderRadius($radius);
}
