/*****************************************************************************
                            Padding - Mixins
******************************************************************************/

@mixin paddingX($padding) {
  padding-left: $padding;
  padding-right: $padding;
}

@mixin paddingY($padding) {
  padding-top: $padding;
  padding-bottom: $padding;
}
