/*****************************************************************************
                            Border - Mixins
******************************************************************************/

@mixin transition($time, $timingfunction, $targets) {
  transition: combineTransitions($time, $timingfunction, $targets);
}

@mixin easeInOut($time, $targets...) {
  @if (length($targets) == 0) {
    $targets: (all);
  }
  @include transition($time, ease-in-out, $targets);
}

@mixin easeIn($time, $target: all) {
  @if (length($targets) == 0) {
    $targets: (all);
  }
  @include transition($time, ease-in, $targets);
}

@mixin easeOut($time, $targets...) {
  @if (length($targets) == 0) {
    $targets: (all);
  }
  @include transition($time, ease-out, $targets);
}

@mixin ease($time, $targets...) {
  @if (length($targets) == 0) {
    $targets: (all);
  }
  @include transition($time, ease, $targets);
}

@mixin linear($time, $targets...) {
  @if (length($targets) == 0) {
    $targets: (all);
  }
  @include transition($time, linear, $targets);
}
