/*****************************************************************************
                              Toggle-Switch - Settings
******************************************************************************/

// sizes
$toggle-switch-size-s: $spacing-s;
$toggle-switch-size-d: $spacing-d;
$toggle-switch-size-m: $spacing-m;
$toggle-switch-size-l: $spacing-l;
