/*
  Adds hover to a button-color-class. On hover, the color gets darker by 10%.
*/
@mixin buttonPersistentColorHover($color-name) {
  $color: getColor($color-name);
  @debug "-> .btn--#{$color-name}";
  &.btn--#{$color-name} {
    background-color: $color;
    color: choose-contrast-color($color);
    @include ease(300ms);

    &:hover {
      background-color: darken($color, 10%);
      color: choose-contrast-color(darken($color, 10%));
    }
  }
}


/*
  Defines the default button class with all its sizes. The sizes:
  - s
  - m
  - l
  - xl
  mean, that the padding of the button is bigger or smaller. The size
  definitions can be found in the variables folder "_spacing.scss".
*/
@debug "Create button-class: .btn";
.btn {
  color: white;
  border: 0;
  outline: 0;
  cursor: pointer;
  @include font-default-regular;

  @debug "Create button-size-classes:";
  @each $size in map-keys($spacings) {
    @debug "-> .btn-#{$size}";
    &.btn--#{$size} {
      @include paddingX(map-get($spacings, $size));
      @include paddingY(map-get($spacings, $size)/2);
      @include border-radius($size);
      @include font-size($size);
    }
  }

  @debug "Create button-persistent-color-classes:";
  @each $color-name in $persistent-color-names {
    @include buttonPersistentColorHover($color-name);
  }
}
