/*****************************************************************************
                            Border - Settings
******************************************************************************/

// colors
$border-color-night: darken($bright, 30%);
$border-color-light: lighten($dark, 30%);
$border-color-warn: $warn;
$border-color-success: $success;
$border-color-info: $info;
$border-color-primary: $primary;
$border-color-secondary: $secondary;

// widths
$border-width-s: 1px;
$border-width-d: 2px;
$border-width-m: 3px;
$border-width-l: 4px;

// radii
$border-radius-s: $spacing-s / 1.3;
$border-radius-d: $spacing-d / 1.3;
$border-radius-m: $spacing-m / 1.3;
$border-radius-l: $spacing-l / 1.3;
