/*****************************************************************************
                            Size - Settings
******************************************************************************/

// sizes
$size-s: $spacing-s * 2;
$size-d: $spacing-d * 2;
$size-m: $spacing-m * 2;
$size-l: $spacing-l * 2;
