/*****************************************************************************
                        Spacing - Settings
******************************************************************************/

// spacings
$spacing-s: 0.7rem;
$spacing-d: 1rem;
$spacing-m: 1.4rem;
$spacing-l: 1.8rem;
