/*****************************************************************************
                        Spacing - Settings
******************************************************************************/

// spacings
$spacing-s: var(--spacing-s);
$spacing-d: var(--spacing-d);
$spacing-m: var(--spacing-m);
$spacing-l: var(--spacing-l);
