/*****************************************************************************
                            Table - Settings
******************************************************************************/

// colors
$table-row-background-night-primary: lightenBridge($background-color-night-child, 3%);
$table-row-background-night-secondary: lightenBridge($background-color-night-child, 5%);
$table-row-background-light-primary: darkenBridge($background-color-light-child, 3%);
$table-row-background-light-secondary: darkenBridge($background-color-light-child, 5%);
