/*****************************************************************************
                              Typography - Settings
******************************************************************************/

/*
  Imports the following font faces from goolge fonts api (https://fonts.google.com/):

  - Inter (https://fonts.google.com/specimen/Inter)
    - Thin 100
    - Extra-light 200
    - Light 300
    - Regular 400
    - Medium 500
    - Semi-bold 600
    - Bold 700
    - Extra-bold 800
    - Black 900

  - Abril Fatface (https://fonts.google.com/specimen/Abril+Fatface)
    - Regular 400
*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// weights
$font-weight-regular: normal;
$font-weight-bold: bold;

// families
$font-family-default: 'Inter', sans-serif;
$font-family-display: 'Abril Fatface', cursive;

// sizes
$font-size-s: 0.85rem;
$font-size-d: 1rem;
$font-size-m: 1.2rem;
$font-size-l: 1.35rem;
$font-size-xl: 1.45rem;
