/*****************************************************************************
                              Icon-Button - Classes
******************************************************************************/

/*
  Adds color and hover to an icon-button. Also creates the inverse of the colors.

  Attributes:
  - theme: 'light', 'night'
  - color: 'warn', 'success', 'info', 'primary', 'secondary'

  OPTION '.btn--[theme]-[color]' for ROOT '.sb-icon-btn'
*/
@mixin icon-button-color-class ($theme, $color) {
  &.btn--#{$theme}-#{$color} {
    .sb-icon {
      color: getThemeTextColorForBackground($theme, $color);
    }

    &:hover .sb-icon {
      color: getThemeTextHoverColorForBackground($theme, $color);
    }

    &:disabled:hover .sb-icon {
      color: getThemeTextColorForBackground($theme, $color);
    }
    @include icon-button-plain-color-class($theme, $color);
  }
}

/*
  Adds color and hover to an icon-button. Also creates the inverse of the colors.

  Attributes:
  - NONE

  OPTION '.is-plain' for OPTION '.btn--[color]' -> ROOT '.sb-btn'
*/
@mixin icon-button-plain-color-class ($theme, $color) {
  &.is-plain {
    .sb-icon {
      color: getThemeTextHoverColorForBackground($theme, $color);
    }

    &:hover.sb-icon {
        color: getThemeTextColorForBackground($theme, $color);
    }

    &:disabled:hover .sb-icon {
      color: getThemeTextHoverColorForBackground($theme, $color);
    }
  }
}

/*
  Extends the root button class to also support icon colors when hovering.
  For complete ROOT see button-classes.


  ROOT .sb-btn
*/
.sb-btn {
  @extend .sb-btn;

  .sb-icon {
    @include ease(300ms);
  }

  @each $theme in $theme-names{
    @each $color in $color-names {
       @include icon-button-color-class($theme, $color);
    }
  }
}
