/*****************************************************************************
                              Radio-Button - Classes
******************************************************************************/

/*
  Adds different colors to a radio button. The coloring is based on the two states
  of the checkbos: 'checked' and 'unchecked'. The two states have to be set
  dynamically.

  Attributes:
  - theme: 'light', 'night'
  - color: 'warn', 'success', 'info', 'primary', 'secondary'

  OPTION '.radio-button--[theme]-[color]' for ROOT '.sb-radio-button'
*/
@mixin radio-button-color-class($color) {
  &.radio-button--#{$color} {
    .sb-radio-button__radio-wrapper .sb-radio-button__radio {
      border-color: getBackgroundColor($color);
    }

    &.is-checked {
      .sb-radio-button__radio-wrapper .sb-radio-button__radio {
        background: getBackgroundColor($color);
      }
    }
  }
}

/*
  Adds different sizes to a radio button. The sizes concern widht, height and
  border-radius (circle).

  Attributes:
  - size: 's', 'd', 'm', 'l'

  OPTION '.radio-button--[size]' for ROOT '.sb-radio-button'
*/
@mixin radio-button-size-class($form-height) {
  $height: map-get($form-heights, $form-height);

  &.radio-button--#{$form-height} {
    .sb-radio-button__radio-wrapper .sb-radio-button__radio {
      height: $height;
      width: $height;
    }
  }
}

/*
  Creates class for a radio button. The class defines colors and sizes for The
  radio button and the mark.

  Attributes:
  - NONE

  ROOT .sb-radio-button
*/
.sb-radio-button {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: $spacing-s;

  .sb-radio-button__label {
    display: none;
  }

  &.is-label {
    .sb-radio-button__label {
      display: block;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    }

    &.label-is-right {
      .sb-radio-button__label {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
      .sb-radio-button__radio-wrapper {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
    }

    &.label-is-left {
      .sb-radio-button__label {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
      .sb-radio-button__radio-wrapper {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
    }

    &.label-is-top {
      grid-template-columns: auto;
      .sb-radio-button__label {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
      .sb-radio-button__radio-wrapper {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }
    }

    &.label-is-bottom {
      grid-template-columns: auto;
      .sb-radio-button__label {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }
      .sb-radio-button__radio-wrapper {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
    }
  }

  &.disabled {
    cursor: not-allowed;
  }

  .sb-radio-button__radio-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .sb-radio-button__radio {
      box-sizing: border-box;
      border: 2px solid;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      @include ease(300ms);
    }
  }

  @each $color in $color-names {
    @include radio-button-color-class($color);
  }

  @each $form-height in map-keys($form-heights) {
    @include radio-button-size-class($form-height);
  }
}
