/*****************************************************************************
                              Checkbox - Settings
******************************************************************************/

// sizes
$checkbox-size-s: $spacing-s;
$checkbox-size-d: $spacing-d;
$checkbox-size-m: $spacing-m;
$checkbox-size-l: $spacing-l;
