/*****************************************************************************
                              Checkbox - Classes
******************************************************************************/

/*
  Adds different colors to a checkbox. The coloring is based on the two states
  of the checkbos: 'checked' and 'unchecked'. The two states have to be set
  dynamically.

  Attributes:
  - theme: 'light', 'night'
  - color: 'warn', 'success', 'info', 'primary', 'secondary'

  OPTION '.checkbox--[theme]-[color]' for ROOT '.sb-checkbox'
*/
@mixin checkbox-color-class($checkbox-theme, $checkbox-color) {
  &.checkbox--#{$checkbox-theme}-#{$checkbox-color} {
    border-color: getBackgroundColor($checkbox-theme, $checkbox-color);
    &.is-unchecked {
      background: getBackgroundColorInverse($checkbox-theme, $checkbox-color);
    }

    &.is-checked {
      background: getBackgroundColor($checkbox-theme, $checkbox-color);
      .sb-checkbox__tick .sb-icon {
        color: getTextColor($checkbox-theme, $checkbox-color);
      }
    }
  }
}

/*
  Adds different sizes to a checkbox. The sizes concern widht, height and
  border-radius.

  Attributes:
  - size: 's', 'd', 'm', 'l'

  OPTION '.checkbox--[size]' for ROOT '.sb-checkbox'
*/
@mixin checkbox-size-class($checkbox-size) {
  $checkbox-size-unit: map-get($checkbox-sizes, $checkbox-size);

  &.checkbox--#{$checkbox-size} {
    height: $checkbox-size-unit * 2;
    width: $checkbox-size-unit * 2;
    border-radius: $checkbox-size-unit/1.5;

    .sb-checkbox__tick {
      .sb-icon {
        font-size: $checkbox-size-unit * 1.5;
      }
    }
  }
}

/*
  Creates class for a checkbox. The class defines colors and sizes for The
  checkbox and the tick.

  Attributes:
  - NONE

  ROOT .sb-checkbox
*/
.sb-checkbox {
  box-sizing: border-box;
  border: 2px solid;
  cursor: pointer;
  @include ease(300ms);

  .sb-checkbox__tick {
    height: 100%;
    width: 100%;
    .sb-icon {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include ease(300ms);
    }
  }
  &.is-unchecked {
    .sb-checkbox__tick .sb-icon {
      color: transparent;
    }
  }

  &.disabled {
    cursor: not-allowed;
  }


  @each $checkbox-color in map-keys($background-text-colors) {
    @each $checkbox-theme in map-keys(map-get($background-text-colors, $checkbox-color)) {
      @include checkbox-color-class($checkbox-theme, $checkbox-color);
    }
  }

  @each $checkbox-size in map-keys($checkbox-sizes) {
    @include checkbox-size-class($checkbox-size);
  }
}
