/*****************************************************************************
                              Toggle-Switch - Classes
******************************************************************************/

/*
  Adds different colors to a toggle switch. The color changes if the state of
  the toggle switch is changing. The state is determined by the OPTION '.is-on'
  or '.is-off'. The states have to be set dynamically.

  Attributes:
  - theme: 'light', 'night'
  - color: 'warn', 'success', 'info', 'primary', 'secondary'

  OPTION '.toggle-switch--[theme]-[color]' for ROOT '.sb-toggle-switch'
*/
@mixin toggle-switch-color-class($theme, $color) {
  &.toggle-switch--#{$theme}-#{$color} {
    border: 2px solid getThemeTextHoverColorForBackground($theme, $color);
    &.is-off {
      .sb-toggle-switch__toggle {
        background: getThemeTextHoverColorForBackground($theme, $color);
      }
    }

    &.is-on {
      background: getBackgroundColor($color);
      .sb-toggle-switch__toggle {
        background: getThemeTextColorForBackground($theme, $color);
      }
    }
  }
}

/*
  Adds different sizes to a toggle switch. Movement of the toggle does also get
  defined. The movement is based on the toggle switch OPTION '.is-on' or '.is-off'.
  The options have to be set dynamically.

  Attributes:
  - size: 's', 'd', 'm', 'l'

  OPTION '.toggle-switch--[size]' for ROOT '.sb-toggle-switch'
*/
@mixin toggle-switch-size-class($form-height) {

  $height: map-get($form-heights, $form-height);
  $width: $height * 2;
  $diameter: $height / 3 * 2;
  $padding: ($height - $diameter) / 2;
  $innerwidth: $width - 2 * $padding;

  &.toggle-switch--#{$form-height} {
    width: $width;
    height: $height;
    border-radius: $height / 2;

    .sb-toggle-switch__toggle {
      top: calc(#{$padding} - 2px);
      left: calc(#{$padding} - 2px);
      width: $diameter;
      height: $diameter;
      border-radius: $diameter / 2;
    }

    &.is-off {
      .sb-toggle-switch__toggle {
        transform: translateX(0);
      }
    }
    &.is-on {
      .sb-toggle-switch__toggle {
        transform: translateX($innerwidth - $diameter);
      }
    }
  }
}

/*
  Creates class for a toggle switch. The class defines colors and sizes for The
  toggle. The movement of the toggle is also defined in the size mixin.

  Attributes:
  - NONE

  ROOT .sb-toggle-switch
*/
.sb-toggle-switch {
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  @include ease(300ms);
  .sb-toggle-switch__toggle {
    position: absolute;
    @include ease(300ms);
  }

  &.disabled {
    cursor: not-allowed;
  }

  @each $theme in $theme-names {
    @each $color in $color-names {
      @include toggle-switch-color-class($theme, $color);
    }
  }

  @each $form-height in map-keys($form-heights) {
    @include toggle-switch-size-class($form-height);
  }
}
