/*****************************************************************************
                              Pill - Naming
******************************************************************************/

// colors
$pill-colors: (
  'warn': (
    'background': $pill-warn-background,
    'text': $pill-warn-text,
    'hover-background': $pill-warn-hover-background,
    'hover-text': $pill-warn-hover-text
  ),
  'success': (
    'background': $pill-success-background,
    'text': $pill-success-text,
    'hover-background': $pill-success-hover-background,
    'hover-text': $pill-success-hover-text
  ),
  'info': (
    'background': $pill-info-background,
    'text': $pill-info-text,
    'hover-background': $pill-info-hover-background,
    'hover-text': $pill-info-hover-text
  ),
  'primary': (
    'background': $pill-primary-background,
    'text': $pill-primary-text,
    'hover-background': $pill-primary-hover-background,
    'hover-text': $pill-primary-hover-text
  ),
  'secondary': (
    'background': $pill-secondary-background,
    'text': $pill-secondary-text,
    'hover-background': $pill-secondary-hover-background,
    'hover-text': $pill-secondary-hover-text
  )
);

// sizes 
$pill-default-size: $pill-size-d; // default size
$pill-sizes: (
  's': $pill-size-s,
  'm': $pill-size-m,
  'l': $pill-size-l,
);
