/*****************************************************************************
                              Pill - Settings
******************************************************************************/

// colors
$pill-warn-background: $warn;
$pill-warn-text: $dark;
$pill-warn-hover-background: lighten($dark, 3%);
$pill-warn-hover-text: $warn;

$pill-success-background: $success;
$pill-success-text: $dark;
$pill-success-hover-background: lighten($dark, 3%);
$pill-success-hover-text: $success;

$pill-info-background: $info;
$pill-info-text: $dark;
$pill-info-hover-background: lighten($dark, 3%);
$pill-info-hover-text: $info;

$pill-primary-background: $primary;
$pill-primary-text: $dark;
$pill-primary-hover-background: lighten($dark, 3%);
$pill-primary-hover-text: $primary;

$pill-secondary-background: $secondary;
$pill-secondary-text: $dark;
$pill-secondary-hover-background: lighten($dark, 3%);
$pill-secondary-hover-text: $secondary;

// sizes
$pill-pill-size-factor: 2.5;
$pill-size-s: $spacing-s * $pill-pill-size-factor;
$pill-size-d: $spacing-d * $pill-pill-size-factor;
$pill-size-m: $spacing-m * $pill-pill-size-factor;
$pill-size-l: $spacing-l * $pill-pill-size-factor;
