/*****************************************************************************
                              Pill - Classes
******************************************************************************/

/*
  Adds color and hover to a pill. Also creates the inverse of the colors.

  Attributes:
  - color: 'warn', 'success', 'info', 'primary', 'secondary'

  OPTION '.pill--[color]' for ROOT '.sb-pill'
*/
@mixin pill-color-class($pill-color) {
  &.pill--#{$pill-color} {
    background: getPillBackgroundColor($pill-color);
    color: getPillTextColor($pill-color);
    @include ease(300ms);
    &:hover {
      background: getPillHoverBackgroundColor($pill-color);
      color: getPillHoverTextColor($pill-color);
    }
    @include pill-empty-color-class($pill-color);
  }
}

/*
  Adds inverse colors as in the normal class.

  Attributes:
  - NONE

  OPTION '.is-plain' for OPTION '.pill--[color]'
*/
@mixin pill-empty-color-class($pill-color) {
  &.is-plain {
    background: getPillHoverBackgroundColor($pill-color);
    color: getPillHoverTextColor($pill-color);
    &:hover {
      background: getPillBackgroundColor($pill-color);
      color: getPillTextColor($pill-color);
    }
  }
}

/*
  Adds different sizes to the pill.

  Attributes:
  - size: 's', 'm', 'l'[, 'd']

  OPTION '.pill--[size] for ROOT '.sb-pill'
*/
@mixin pill-size-class($pill-size) {
  &.pill--#{$pill-size} {
    font-size: map-get($pill-sizes, $pill-size)/1.7;
    line-height: map-get($pill-sizes, $pill-size)/1.7;
    height: map-get($pill-sizes, $pill-size);
    border-radius: map-get($pill-sizes, $pill-size)/2;
    @include paddingX(map-get($pill-sizes, $pill-size)/2.5);
  }
}

/*
  Defines the root pill class with all its sizes and colors.

  ROOT: .sb-pill
*/
@debug "Create pill-classes";
.sb-pill {
  border: 0;
  outline: 0;
  cursor: pointer;

  font-size: $pill-default-size/2;
  line-height: $pill-default-size/2;
  height: $pill-default-size;
  border-radius: $pill-default-size/2;
  @include paddingX($pill-default-size/2);

  font-weight: getFontWeight('regular');
  font-family: getFontface('default');

  @each $pill-size in map-keys($pill-sizes) {
    @include pill-size-class($pill-size);
  }

  @each $pill-color in map-keys($pill-colors) {
    @include pill-color-class($pill-color);
  }
}
