/*****************************************************************************
                            Container - Settings
******************************************************************************/

// sizes
$container-size-s: $spacing-s;
$container-size-d: $spacing-d;
$container-size-m: $spacing-m;
$container-size-l: $spacing-l;
