/*****************************************************************************
                              Icon - Classes
******************************************************************************/

/*
  Adds color to an icon.

  Attributes:
  - color: 'warn', 'success', 'info', 'primary', 'secondary'

  OPTION '.icon--[color]' for ROOT '.sb-icon'
*/
@mixin icon-color-class($icon-color) {
  &.icon--#{$icon-color} {
    color: map-get($icon-colors, $icon-color);
  }
}

/*
  Adds different sizes to the icon.

  Attributes:
  - size: 's', 'm', 'l'[, 'd']

  OPTION '.icon--[size] for ROOT '.sb-icon'
*/
@mixin icon-size-class($icon-size) {
  &.icon--#{$icon-size} {
    font-size: map-get($icon-sizes, $icon-size);
  }
}


/*
  Defines the root icon class with all its sizes.

  ROOT: .sb-icon
*/
@debug "Create icon-classes";
.sb-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: $icon-size-default;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: white;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  @each $icon-size in map-keys($icon-sizes) {
    @include icon-size-class($icon-size);
  }

  @each $icon-color in map-keys($icon-colors) {
    @include icon-color-class($icon-color);
  }
}
